<div
    style="height: 95vh; background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="flex-center flex-column">
        <h2 class="h1-responsive animate__animated animate__bounce">Home page</h2>
        <br />
        <small>The
            <a href="https://angular.io/docs" target="blank">Angular 9</a> Startup
            template has:
        </small>
        <small>
            <a href="https://mdbootstrap.com/docs/angular/" target="blank">Mdbootstrap</a>
            | <a href="https://animate.style/" target="blank">Animate CSS</a> | <a href="https://lodash.com/" target="blank">Lodash</a>
        </small>
        <small>
            The image below is a screenshot taken from the computer running the back-end server
        </small>
        <img id="screenshot-image" [src]='screenshot' style="max-width: 60vw"  alt="screenshot"/>
    </div>
</div>
